html {
    display: flex;
    justify-content: center;
    background-color: #aaa;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 8.3in;
  min-height: 11.7in;
  background-color: #fff;
  box-sizing: border-box;
  padding: 1in;
}

code {
  background-color: #dddddd;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 0 3px;
}
