

.Heading1 { color: #2F5496;

font-size: 32px; }

.Heading2 { color: #2F5496;

font-size: 26px; }







.Heading1Char { color: #2F5496;

font-size: 32px; }



.Heading2Char { color: #2F5496;

font-size: 26px; }